*{
    background-color: tan;
}
.parent{
    position: relative;

}
.background{
    position: relative;
    width: 959px;
    height: 315px;
    background-image: url(images/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid black;
    display: block;
    margin: 0 auto;
}
.me{
    position: absolute;
    background-image: url(images/Me.png);
    width: 300px;
    height: 200px;
    background-size: contain;
    top: 30px;
    left: 50%;
    border-radius: 50%;
    border: 2px solid black;
}

.name{
    text-align: center;
    color: black;
}
.intro{
    text-align: center;
    color: black;
}
.tabs{
    border: none;
    display: flex;
    
}

.tabs__sidebar {
    width: 125px;
    flex-shrink: 0;
    background: tan;
    
}

.tabs__button{
    
    display: block;
    padding: 10px;
    background: brown;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.tabs__button:active{
    background: tan;
    border: 2px solid brown;
}

.tabs__button:not(last-of-type){
    border: black;
}

.tabs__button--active{
    font-weight: bold;
    border: 2px solid brown;
    background: tan;
}

.tabs__content{
    padding: 15px;
    text-align: left;
    font-size: 1rem;
    display: none;
}
.tabs__content--active {
    display: block;
}
.tabs__content > :first-child {
    margin-top: 0;
}

.minecraftIcon{
    position: relative;
    width: 64px;
    height: 64px;
    bottom:30px ;
    background-image: url(icons/mIcon.png);
}
.awsIcon{
    position: relative;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/aIcon.png);
}
.djangoIcon{
    position: relative;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/djangoIcon.png);
}
.pythonIcon{
    position: relative;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/pythonIcon.png);
}
.haven{
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/haven.png);
}
.wordpress{
    position: relative;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/wordpress.png);
}
.PDFIcon{
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/PDF_Icon.png);
}
.LeetCodeIcon{
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/LeetCode_Icon.png);
}

.LinkedInIcon{
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom:30px ;
    background-image: url(icons/LinkedIn_Icon.png);
}