.header{
    color: orangered;
    text-align: center;
    background-color: maroon;
    border: black 2px solid;
}
.column {
  float: left;
  width: 30%;
  padding: 5px;
  border: 6px solid maroon;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.teamPic1{
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url(images/teamPic.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.teamPic2{
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url(images/teamPic2.JPG);
  background-size: contain;
  background-repeat: no-repeat;
}
.teamPic3{
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url(images/teamPic3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: auto;
    margin-right: auto;

  }

  ul {list-style-type: none;}
  body {font-family: Verdana, sans-serif;}
  
  /* Month header */
  .month {

    width: 100%;
    background: maroon;
    text-align: center;
  }
  
  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  
  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  /* Days (1-31) */
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  /* Highlight the "current" day */
  .days li .active {
    padding: 5px;
    background: orangered;
    color: white !important
  }
.SwimIcon{
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(icons/swimming-man.png);
  left: 40%;
}
.BikeIcon{
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(icons/bike.png);
  left: 40%;
}
.RunIcon{
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(icons/run.png);
  left: 40%;
}
.LiftIcon{
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(icons/weightlifter-frontal-silhouette.png);
  left: 40%;
}
.MeetingIcon{
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(icons/meeting.png);
  left: 40%;
}
.TriathlonIcon{
  position: relative;
  top: 0px;
  left: 50%;
  width: 64px;
  height: 64px;
  background-image: url(icons/triathlon.png);
  
}
.shirts{
  position: relative;
  width: 600px;
  height: 850px;
  background-image: url(merch_pics/shirts.JPG);
  background-size: contain;
  background-repeat: no-repeat;
}
.hoodies{
  position: relative;
  width: 600px;
  height: 850px;
  background-image: url(merch_pics/hoodie.JPG);
  background-size: contain;
  background-repeat: no-repeat;
}
.jackets{
  position: relative;
  width: 600px;
  height: 600px;
  background-image: url(merch_pics/jacket.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}
.sweatpants{
  position: relative;
  width: 600px;
  height: 600px;
  background-image: url(merch_pics/sweatpants.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}
.hats{
  position: relative;
  width: 600px;
  height: 600px;
  background-image: url(merch_pics/hats.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}
.backpacks{
  position: relative;
  width: 600px;
  height: 600px;
  background-image: url(merch_pics/backpack.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}
